menu "NaiveMIPS platforms"
    depends on MACH_NAIVEMIPS

choice
    prompt "Board select"

config TARGET_NAIVEMIPS_THINPAD
    bool "Thinpad board 2017"

config TARGET_NAIVEMIPS_K7EES
    bool "Thinpad board with Kintex-7 by E-Elements"

endchoice

source "board/thucst/Kconfig"
source "board/e-elements/Kconfig"

endmenu
