if TARGET_NAIVEMIPS_NSCSCC

config SYS_BOARD
    default "FPGA-A7"

config SYS_VENDOR
    default "nscscc"

config SYS_CONFIG_NAME
    default "naivemips_nscscc"

config SYS_TEXT_BASE
    default 0x80000000

endif
